body{
	font-family: 'Open Sans', sans-serif;
	/*background-color: #bcbcbc;*/
	background: #bcbcbc url("../assets/brickwall.png") repeat right top;
}

#header{
	display: block;
	margin: auto;
	width: 50%;
	background: rgba(255,255,255,.5);
	padding: 20px;
}

#body{
	display: block;
	margin: auto;
	width: 50%;
	background: rgba(129,50,62,.6);
	padding: 20px;
}

#inspoInput{
	display: block;
	margin: auto;
	padding-bottom: 20px; 
	line-height: 4em;
}

.button-inspoInput{
    background: #340F15;
}

#word{
	display: block;
	margin: auto;
	width: 50%;
	background: rgba(129,50,0,.6);
	padding: 20px;
	text-align: center;
}

.button-word{
	background: #CD5D16;
}

h1{
	text-align: center;
	font-weight: 300;
	font-size: 4em;
	margin: 0px;
	padding: 0px;
}

h2{
	text-align: center;
	display: block;
	margin: auto;
	font-size: 1.3em;
}

h3{
	text-align: center;
	display: block;
	margin: auto;
	text-transform: uppercase;
	font-size: 1.4em;
	color: #fff;
}

h4{

	color: #fff;
}

.pure-button{
	margin: auto;
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

form{
	text-align: center;
}
